body {
    background-color: #0d1b2a;
}

h1,
h2 {
    color: #778da9 !important;
}

button {
    font-size: 15px;
    background-color: #bde0fe;
}

#signup {
    background-color: #264653;
    color: #fefae0;
}

span {
    color: #778da9;
}

.tag {
    background-color: #415a77;
    color: #e0e1dd;
    font-size: 15px;
    font-style: italic;
}

.post a {
    color: #3e5c76;
}

footer a {
    color: #70d6ff;
}

p {
    color: #16697a;
}

h2+button {
    font-weight: lighter;
}

footer>a {
    color: #84a98c;
}

input[type="password"] {
    color: red;
}

section.post {
    background-color: #1d2d44;
}

a[href*="google"] {
    color: green;
}

button:hover {
    background-color: pink;
    color: #283618;
}

a:hover {
    color: pink;
}