body {
    background-color: #12253a;
}

h1,
h2 {
    color: #778da9;
}

button {
    font-size: 15px;
    background-color: #bde0fe;
}

#signup {
    background-color: #264653;
    color: #fefae0;
}

span {
    color: #778da9;
}

.tag {
    background-color: #415a77;
    color: #e0e1dd;
    font-size: 15px;
    font-style: italic;
}

.post a {
    color: #3e5c76;
}

footer a {
    color: #70d6ff;
}

p {
    color: #16697a;
}

h2+button {
    font-weight: lighter;
}

footer>a {
    color: #84a98c;
}

input[type="password"] {
    color: red;
}



a[href*="google"] {
    color: green;
}

button:hover {
    background-color: pink;
    color: #283618;
}

.post button:active {
    background-color: #f28482;
}

a:hover {
    color: pink;
}

.tag:hover {
    text-decoration: underline;
    cursor: grab;
}

.post:nth-of-type(2n) {
    background-color: #0a1727;
}

h2::first-letter {
    font-size: 30px;
}

p::first-line {
    text-decoration: line-through;
}

p::selection {
    background-color: pink;
}