body {
    background-color: #0d1b2a;
}

h1,
h2 {
    color: #778da9 !important;
}

button {
    font-size: 15px;
    background-color: #bde0fe;
}

#signup {
    background-color: #264653;
    color: #fefae0;
}

span {
    color: #778da9;
}

.tag {
    background-color: #415a77;
    color: #e0e1dd;
    font-size: 15px;
    font-style: italic;
}