body {
    background-color: #212529;
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    background-color: #ffafcc;
}

h1 {
    background-color: bisque;
    padding-left: 100px;
    width: 250px;
    padding-top: 50px;
}

#one {
    background-color: #f8ad9d;
    border-width: 5px;
    border-color: grey;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #f4978e;
    border-color: #ffdab9;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 5px;
    border-left-color: aqua;
    padding-right: 50px;
    margin: 200px;
}

#three {
    background-color: #f08080;
    border: 4px dotted green;
    border-left-style: solid;
    border-radius: 10%;
}

button {
    padding: 10px 20px 30px 40px;
}