body {
    background-color: #212529;
    margin: 0;
}

h1 {
    background-color: #415a77;
    border: 5px solid lightblue;
    /* display: inline; */
    width: 300px;
    height: 200px;
    margin: 100px;
    display: none;
}

span {
    /* background-color: paleturquoise; */
    border: 1px solid #778da9;
    display: inline;
    /* color: black; */
    width: 500px;
    padding: 100px;
}

p {
    color: white;
}

div {
    height: 200px;
    width: 200px;
    background-color: #1b263b;
    border: 1px solid blanchedalmond;
    display: inline-block;
    margin: 10px;
}