html {
    font-size: 10px;
}

section {
    background-color: #b5e2fa;
    width: 800px;
    height: 800px;
}

#ems div {
    background-color: #778da9;
    width: 70%;
    height: 50%;
}

#ems h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

#ems p {
    font-size: .8em;
}

#ems h3 {
    font-size: 1.5em;
}

article {
    font-size: 20px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: .5em;
    background-color: #778da9;
    color: #b5e2fa;
}

#ems ul {
    font-size: 0.7em;
}

#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: .8rem;
}

#rems button {
    font-size: 1.5rem;
}