body {
	border: 30px solid #b7b7b7;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
	padding: 30px;
}
.date {
	font-family: 'Lexend Deca';
	text-transform: uppercase;
	color: #1aa8e5;
	letter-spacing: 2px;
}
h1 {
	font-family: Montserrat;
	font-weight: strong;
	text-align: left;
	color: #140065;
	text-transform: capitalize;
}

p {
	font-family: Roboto;
	text-align: left;
	color: black;
}

div p:nth-of-type(2) {
	border-left: 5px solid #b7b7b7;
	padding-left: 5px;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
}